<div class="ea-footer">
  <p>
    <%= t(".support_text") %>
  </p>
  <ul>
    <li class="inline"><%= link_to "Privacy", page_path("privacy"),  target: "_blank" %></li>
    <li class="inline"><%= link_to "Cookies", page_path("cookies"),  target: "_blank" %></li>
    <li class="inline"><%= link_to "Accessibility", page_path("accessibility"),  target: "_blank" %></li>
  </ul>
</div>
